extends layout 

block main
    h2 Assignment 1: Your First Web Server
    a(href='/data', style='display: block;') Go To <strong>Data</strong>
    a(href='/sum.html', style='display: block;') Go To <strong>sum.html</strong>
    a(href='/myName', style='display: block;') Go To <strong>myName</strong>
    a(href='/trackName', style='display: block;') Go To <strong>trackName</strong>