doctype html
html(lang="en")
  head
    title Landing Page
    link(rel='stylesheet', href='/static/stylesheets/style.css')
  body
    include includes/header.pug
    block main
    block data
    block name