html{
    max-width: 1200px;
    margin: 0 auto;
}

.logo{
    max-width: 24px;
    height: 24px;
    flex: 0 0 10%;
    flex: 1;
    padding: 10px;
}

.name{
    flex: 0 0 55%;
}

header{
    background-color: rgb(240, 240, 240);
    display: flex;
}

.menu{
    flex: 0 0 35%;
    margin-top: 3px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    margin: 0 auto;
}

.content-box{
    background-color: rgb(192, 192, 252);
    flex: 0 0 calc(50% - 20px);
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintitle{
    height: 100px;
    width: 100%;
    background-color: rgb(248, 214, 248);
    text-align: center;
}

h1{
    margin-top: 30px;
}

h3{
    text-align: center;    
}

.Exploration{
    margin-top: 100px;
}